@import "fonts.css";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #383838;
}
h2 {
  font-size: 1em;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 104px 120px;
}
.col-1{
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%
}
.col-11 {
  width: 91.66%
}
.col-12 {
  width: 100%
}
.top-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 54px 104px 120px;
}
:root {
  --main-background-color: #10367cff;
}
:root {
  --main-border: #fff;
}
:root {
  --main-color: #fff;
}
.top-section {
  background-image: url(/img/bgimg.png);
  background-color: var(--main-background-color);
  background-size: cover;
  flex-direction: column;
}
.header {
  display: flex;
  height: 46px;
  justify-content: space-between;
}
.logo-header {
  display: inline-block;
  max-width: 235px;
}
.header-links {
  display: inline-block;
  justify-content: flex-end;
}
.stays {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  justify-content: flex-end;
}
.header-link {
  color: var(--main-color);
}
.stays:hover:after {
  display: block;
  content: "";
  margin-top: 5px;
  width: 40px;
  height: 2px;
  background-color: #f5bd41;
  position: absolute;
}
.attraction {
  display: inline-block;
  padding-left: 24px;
  vertical-align: top;
  padding-top: 12px;
}
.attraction:hover:after {
  display: block;
  content: "";
  margin-top: 5px;
  width: 70px;
  height: 2px;
  background-color: #f5bd41;
  position: absolute;
}
.moon {
  display: inline-block;
  margin-left: 48px;
  vertical-align: top;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  fill: #f5bd41;
}
.account {
  display: inline-block;
  vertical-align: top;
  margin-left: 24px;
  width: 40px;
  height: 40px;
}
.tagline {
  padding-top: 200px;
  padding-bottom: 100px;
}
.tagline-content {
  color: var(--main-color);
  text-align: left;
  height: 120px;
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
}
.search {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.destination {
  position: relative;
  width: 40%;
}
.label-destination {
  position: absolute;
  bottom: 75px;
  color: var(--main-color);
  padding-left: 24px;
}

input#destination {
  height: 64px;
  width: 100%;
  border: var(--main-border);
  border-radius: 10px;
  font-size: 18px;
  padding-left: 24px;
}
.date {
  position: relative;
  width: 20%;
}
.label-date {
  position: absolute;
  bottom: 75px;
  color: var(--main-color);
  padding-left: 24px;
}
input#date {
  height: 64px;
  width: 100%;
  border-color: #f5bd41;
  border-radius: 10px;
  font-size: 18px;
}
.guest-info {
  width: 25%;
}
input#info-guests {
  height: 64px;
  width: 100%;
  border: var(--main-border);
  border-radius: 10px;
  font-size: 18px;
}
.search-button-div {
  width: 15%;
}
.search-button {
  height: 64px;
  width: 100%;
  background: #3077c6;
  border-radius: 10px;
  border: #3077c6;
  font-size: 18px;
  color: var(--main-color);
}
.city-and-hotel {
  color: var(--main-color);
  font-size: 18px;
  padding-left: 24px;
}
.apps {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.google-play {
  margin-right: 17px;
  width: 135px;
  height: 40px;
}
.app-store {
  width: 135px;
  height: 40px;
}
.offer {
  color: #383838;
}
.block_title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.block_title_content {
  display: inline-block;
}
.block_title_content:after {
  position: relative;
  content: "";
  width: 35%;
  height: 4px;
  background-color: #f5bd41;
  display: block;
  margin: 0 auto;
  top: 20px;
}

.caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.row {
  font-family: Roboto Regular, sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 112px;
}
.icon-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 175px;
}
.icon {
  height: 87px;
  width: 100px;
}
.book {
  margin-bottom: 90px;
}
.homes_guests_loves{

}
.apartments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 105px;
}
.homes-icon{
  height: 97%;
  width: 97%;
}
.homes-links {
  color: #3077C6;
  font-size: 24px;
  margin: 24px 0;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: #10367c;
  background-size: 100%;
  color: var(--main-color);
}
.logo-footer {
  display: none;
}
.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
}
.footer-links {
  color: var(--main-color);
}
.item {
  display: inline-block;
  text-align: left;
}

.text-title {
  padding: 24px 0;
  font-size: 24px;
  font-family: "Roboto 500", sans-serif;
  color: var(--main-color);
}
.link {
  font-family: "Roboto 400", sans-serif;
  margin: 24px 0 24px 0;
  font-size: 20px;
}
.terms {
  margin: 24px 0 163px 0;
}
.rights {
  font-size: 14px;
  color: var(--main-color);
}
li {
  list-style-type: none;
}
@media all and (max-width: 1200px) {
  .homes-links {
    font-size: 20px;
    margin: 20px 0;
  }
}
@media all and (max-width: 900px){
    .homes-links {
      font-size: 18px;
      margin: 18px 0;
    }
}
@media all and (max-width: 700px) {
  .row {
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
  .col {
    width: 100%;
    margin: 0 auto;
  }
  .link {
    display: none;
  }
  .text-title {
    text-decoration: underline;
    font-size: 15px;
  }
  .icon-cont {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    padding: 0;
    height: 65px;
    width: 78px;
    margin-bottom: 21px;
  }
  .item {
    text-align: center;
    font-size: 15px;
  }
  ul {
    padding-inline-start: 0;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
  }
  .block_title {
    font-size: 28px;
  }
  .block_title_content:after {
    display: none;
  }
  .caption {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .container {
    padding: 40px 67px;
  }
  .rights {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .homes-links {
    font-size: 12px;
    margin: 12px 0;
  }
}
@media all and (max-width: 500px) {
  .homes-links {
    font-size: 5px;
    margin: 6px 0;
  }
}
@media all and (max-width: 300px) {
  .footer-content {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  .text-title {
    padding: 10px 0;
  }
  .homes-links {
    font-size: 3px;
    margin: 4px 0;
  }
}
