@import "fonts.css";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #383838;
}
a {
  text-decoration: none;
}
.top-section {
  display: flex;
  background-image: url(/img/bgimg.png);
  background-color: #10367cff;
  background-size: cover;
  margin: auto;
  width: 1440px;
  height: 900px;
}
.header {
  margin: 51px 79px 1px 79px;
  width: 1232px;
  height: 46px;
}
.stays {
  display: inline-block;
  padding-left: 684px;
  vertical-align: top;
  padding-top: 12px;
}
.header-link {
  color: #fff;
}
.stays:hover:after {
  display: block;
  content: '';
  margin-top: 5px;
  width: 40px;
  height: 1px;
  background-color: #F5BD41;
  position: absolute;
}
.attraction {
  display: inline-block;
  padding-left: 24px;
  vertical-align: top;
  padding-top: 12px;
}
.attraction:hover:after {
  display: block;
  content: '';
  margin-top: 5px;
  width: 70px;
  height: 1px;
  background-color: #F5BD41;
  position: absolute;
}
.moon {
  display: inline-block;
  padding-left: 48px;
  vertical-align: top;
  padding-top: 5px;
}
.imgMoon:hover {
  background-color: #F5BD41;
}
.account {
  display: inline-block;
  padding-left: 24px;
  vertical-align: top;
}
.tagline {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 542px;
  left: 104px;
  top: 293px;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}
.tagline-content {
  color: #fff;
  text-align: left;
  height: 120px;
}
.search {
  margin: 24px auto;
  width: 1240px;
  height: 64px;
  background-color: #fff;
}
input#destination {
  height: 64px;
  width: 40%;
  border-color: #fff;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 24px;
}
input#destination:focus {
  border-color: #F5BD41;
}
.cityAndHotel {
  color: #fff;
  font-size: 18px;
  padding-left: 24px;
}
.offer {
  color: #383838;
}
.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 0 16px 0;
}
.block_title {
  padding: 100px 440px 20px 440px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.block_title_content {
  display: inline-block;
}
.block_title_content:after {
  position: relative;
  content: '';
  width: 110px;
  height: 4px;
  background-color: #F5BD41;
  display: block;
  left: 110px;
  top: 20px;
}
.row {
  font-family: Roboto Regular, sans-serif;
  width: 1232px;
  display: flex;
  margin: 0 auto 122px auto;
  text-align: center;
  align-content: center;
}
.col {
  width: 25%;
  text-align: center;
}
.icon {
  width: 160px;
  height: 100px;
  margin: 80px 100px 48px 65px;
}
.book {
  margin-bottom: 90px;
}
.footer {
  background-color: #10367c;
  background-size: 100%;
  color: #fff;
}
.footer-links {
  color: #fff;
}
.item {
  width: 33%;
  text-align: left;
}
.about {
  padding: 0 104px 0 104px;
}
.property {
  padding: 0 0 0 120px;
}
.support {
  padding: 0 90px 0 104px;
}
.text-title {
  padding: 24px 0 24px 0;
  font-size: 24px;
  font-family: "Roboto 500", sans-serif;
  color: #fff;
}
.link {
  font-family: "Roboto 400", sans-serif;
  margin: 24px 0 24px 0;
  font-size: 20px;
}
.terms {
  margin: 24px 0 163px 0;
}
.rights {
  font-size: 14px;
  color: #fff;
}
li {
  list-style-type: none;
}
