* {
  margin:0;
  box-sizing: border-box;
}
.body {
  color: #383838;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 569px;
  padding: 200px 16px 0;
}
.block_title {
  text-align: center;
}
.stroke {

}
.row {
  display: flex;
  gap: 16px;
}
.col {
  width: 25%;
  text-align: center;

}
.sup-img {
  margin-bottom: 52px;
  margin-top: 105px;
 }
.commun-img {
  margin-bottom: 58px;
  margin-top: 105px;
}

.book-img {
  margin-bottom: 72px;
  margin-top: 105px;
}
.likes-img {
  margin-bottom: 60px;
  margin-top: 105px;
}